@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/wallpaper.jpg') no-repeat center center/cover;
    font-family: "Jost", serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
}

.todo-app{
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
}

.todo-app h1{
    font-size: 2rem;
}

.input-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
}

.input-area input{
    flex: 1;
    padding: 10px 17px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 22px;
    border: 3px solid rgba(168, 168, 168, 0.18);
    background-color: transparent;
    color: #fff;
}

.input-area button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.1rem;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
}

.input-area button:hover{
    transform: scale(1.1);
    color: black;
    background-color: #fff;
}

.todos-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-list {
    width: 100%;
}

.empty-image{
    width: 40%;
}

#task-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    transition: box-shadow 0.2s ease;
}

#task-list li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-list li .checkbox {
    min-width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    transition: all 0,2s ease;
}

#task-list li.checkbox:checked{
    background-color: aqua;
    transform: scale(1.1);
}

#task-list li .checkbox:checked::before{
    content: '\2713';
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
#task-list li span{
    flex: 1;
    margin-left: 10px;
    word-wrap: break-word;
}
.task-buttons {
    display: flex;
    gap: 10px;
    margin-right: auto;
}

.task-buttons button {
    background: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer; 
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-buttons button:hover{
    transform: scale(1.2);
}

.task-buttons .edit-btn{
    background-color: #ffbf00;
}

.task-buttons .delete-btn{
    background-color: #ff6f91;
}